<div class="header">
    <div class="marquee-text">
        <div class="marquee-content">
            <span>Wekito del año:
                <span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-red-500 via-yellow-400 via-green-500 via-blue-500 to-purple-500 inline-block">
                    Abandonico</span>
            </span>
            <span>Wekito del año:
                <span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-red-500 via-yellow-400 via-green-500 via-blue-500 to-purple-500 inline-block">
                    Abandonico</span>
            </span>
            <span>Wekito del año:
                <span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-red-500 via-yellow-400 via-green-500 via-blue-500 to-purple-500 inline-block">
                    Abandonico</span>
            </span>
            <span>Wekito del año:
                <span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-red-500 via-yellow-400 via-green-500 via-blue-500 to-purple-500 inline-block">
                    Abandonico</span>
            </span>
            <span aria-hidden="true">Wekito del año:
                <span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-red-500 via-yellow-400 via-green-500 via-blue-500 to-purple-500 inline-block">
                    Abandonico</span>
            </span>
            <span aria-hidden="true">Wekito del año:
                <span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-red-500 via-yellow-400 via-green-500 via-blue-500 to-purple-500 inline-block">
                    Abandonico</span>
            </span>
            <span aria-hidden="true">Wekito del año:
                <span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-red-500 via-yellow-400 via-green-500 via-blue-500 to-purple-500 inline-block">
                    Abandonico</span>
            </span>
            <span aria-hidden="true">Wekito del año:
                <span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-red-500 via-yellow-400 via-green-500 via-blue-500 to-purple-500 inline-block">
                    Abandonico</span>
            </span>
        </div>
    </div>
</div>