.header {
    padding-bottom: 7vh;
    width: 100%;
}

.marquee-text {
    overflow: clip;
}

.marquee-content {
    display: flex;
    padding-left: 12rem;
    gap: 12rem;
    width: max-content;
    animation: marquee-move-text var(--speed, 10s) linear infinite;
}

.marquee-content span {
    font-size: large;
}

@keyframes marquee-move-text {
    to {
        transform: translateX(-50%);
    }
}