:host {
    --spin-roulette: 0deg;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}

#roulette {
    position: relative;
    overflow: hidden;
    transform-origin: center;
}

#button {
    position: absolute;
    top: 80%;
    z-index: 1;
    border-radius: 50%;
}

.spin {
    animation: spin 5s ease-out forwards;
}

@keyframes spin {
    100% {
        transform: rotate(var(--spin-roulette));
    }
}

.absolute span {
    font-weight: bold;
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white;
    pointer-events: none;
}


.absolute div {
    z-index: 2;
}