<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="table text-center">
        <thead>
            <tr>
                <th>Top</th>
                <th>Name</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr
                class="bg-clip-text text-transparent bg-gradient-to-r from-red-500 via-yellow-500 to-purple-500 font-bold">
                <td>1</td>
                <td>Abandonico</td>
                <td>0</td>
            </tr>
            <tr class="bg-clip-text text-transparent bg-gradient-to-r from-red-400 via-yellow-400 to-purple-400">
                <th>2</th>
                <td>Geba</td>
                <td>0</td>
            </tr>
            <tr class="bg-clip-text text-transparent bg-gradient-to-r from-red-300 via-yellow-300 to-purple-300">
                <th>3</th>
                <td>Millar Ged</td>
                <td>0</td>
            </tr>
            <tr class="bg-clip-text text-transparent bg-gradient-to-r from-red-200 via-yellow-200 to-purple-200">
                <th>4</th>
                <td>Gato pan</td>
                <td>0</td>
            </tr>
            <tr class="bg-clip-text text-transparent bg-gradient-to-r from-red-100 via-yellow-100 to-purple-100">
                <th>5</th>
                <td>Rigo</td>
                <td>0</td>
            </tr>
            <tr>
                <th>6</th>
                <td>Osta</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>